<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      /* normalize.css */
      *, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
      html { font-size: 100%; font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
      body { margin: 0; }

      /* responsive grid setup */
      .column { margin-bottom: 1.5rem; }
      @media (min-width: 40rem) {
        html { font-size: 112%; }
        .column { float: left; padding-left: 1rem; padding-right: 1rem; }
        .column.full { width: 100%; }
        .column.two-thirds { width: 66.7%; }
        .column.half { width: 50%; }
        .column.third { width: 33.3%; }
        .column.fourth { width: 25%; }
        .column.flow-opposite { float: right; }
      }
      @media (min-width: 64rem) {
        html { font-size: 120%; }
      }
      .container { margin: 0 auto; max-width: 64rem; width: 90%;}
      row:after { content: ""; display: table; clear: both; }

      /* deichman ui styles */
      button { margin-right: 1em; height: 3em; min-width: 6em; font-size: 1em;}
      .green { color: green; }
      .small-text { font-size: 0.8em; }
      .big-text { font-size: 1.4em; }
      .header { background: #eee; width: 100%; padding: 1em; }
      .cover-outer { background: #eee; }
      .cover-label { text-align: center; padding:5px;}
      .cover-inner { padding: 2em; background: #aaa; min-height: 250px;}
      .cover-image { max-width: 100%; opacity: 0.2; display: block; margin-left: auto; margin-right: auto;}
      .item-actions { /*vertical-align: bottom; */}
      dt { font-weight: bold; }
      .panel { background: #eee; padding-bottom: 2em; }
      tbody { background: #fff; }
      th { padding: 0.5em;}
      td { padding: 0.5em; }
    </style>
    <title>{{firstValue work "deichman:name" graph}} av {{firstValue work "deichman:creator" graph}} ({{firstValue work "deichman:year" graph}})</title>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <img widt="329px" height="49px" src="/logo.png"/>
      </div>
    </div>
    <div class="container small-text">
      <p><u>Topnivå</u> &gt; <u>Mellomnivå</u> &gt; Du er her</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="column fourth">
          <div class="cover-outer">
            <div class="cover-label">VERK</div>
            <div class="cover-inner">
              <img class="cover-image" src="/icon_bok.png"/>
            </div>
          </div>
        </div>
        <div id="work" class="column half relative">
          <h2 data-automation-id="work_title">{{firstValue work "deichman:name" graph}}</h2>
          <p data-automation-id="work_author">{{firstValue work "deichman:creator" graph}}</p>
          <div class="small-text">
            <p><b>Utgitt første gang: </b><span data-automation-id="work_date">{{firstValue work "deichman:year" graph}}</span></p>
            <p>Beskrivelse av verket kommer her ...</p>
          </div>
          <p>{{work.publications.length}} ulike utgaver</p>
          <p>Antall eksemplarer: <span class="green big-text">{{availableItems work.items graph}} ledige</span></p>
          <div class="item-actions">
            <button disabled='disabled'>Lån</button> <button disabled='disabled'>Legg i huskeliste</button>
          </div>
        </div>
        <div class="column fourth">
          <dl class="item-details small-text">
            <dt>Originaltittel</dt><dd>{{firstValue work "deichman:name" graph}}</dd>
            <dt>Forfatter</dt><dd><u>{{firstValue work "deichman:creator" graph}}</u></dd>
            <dt>Originalspråk</dt><dd>ukjent</dd>
            <dt>Emner</dt><dd></dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div id="publications" class="panel column full">
          {{#if work.publications}}
            <h2>Finnes i disse utgavene</h2>
            <table>
              <thead>
                <tr>
                  <th>tittel</th>
                  <th>språk</th>
                  <th>format</th>
                  <th>eksemplarer</th>
                </tr>
              </thead>
              <tbody>
                {{#each work.publications as |pub|}}
                  <tr>
                    <td data-automation-id="publication_name">{{allValuesConcat pub "deichman:name" ../graph}}</td>
                    <td data-automation-id="publication_language">{{firstValue pub "deichman:language" ../graph}}</td>
                    <td data-automation-id="publication_format">{{firstValue pub "deichman:format" ../graph}}</td>
                    <td>{{pub.items.length}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          {{else}}
            <h2>Vi har ingen utgaver</h2>
          {{/if}}
        </div>
        <div id="items" class="panel column full">
          {{#if work.items}}
            <h2>Eksemplarer</h2>
            <table>
              <thead>
               <tr>
                  <th>tittel</th>
                  <th>språk</th>
                  <th>format</th>
                  <th>strekkode</th>
                  <th>plassering</th>
                  <th>status</th>
                </tr>
              </thead>
              <tbody>
              {{#each work.publications as |pub|}}
                {{#each pub.items as |item|}}
                  <tr>
                    <td data-automation-id="item_title">{{allValuesConcat pub "deichman:name" ../../graph}}</td>
                    <td data-automation-id="item_language">{{firstValue pub "deichman:language" ../../graph}}</td>
                    <td data-automation-id="item_format">{{firstValue pub "deichman:format" ../../graph}}</td>
                    <td data-automation-id="item_barcode">{{firstValue item "deichman:barcode" ../../graph}}</td>
                    <td data-automation-id="item_location">{{firstValue item "deichman:location" ../../graph}}</td>
                    <td data-automation-id="item_status">{{firstValue item "deichman:status" ../../graph}}</td>
                  </tr>
                {{/each}}
              {{/each}}
              </tbody>
           </table>
          {{else}}
            <h2>Vi har ingen eksemplarer</h2>
          {{/if}}
        </div>
      </div>
    </div>
  </body>
</html>